.watch {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black; /* Netflix usually has a black background */
    color: white;
  
    .back {
      display: flex;
      align-items: center;
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
      z-index: 2;
      font-size: 18px; /* Adjust as needed */
      span {
        margin-left: 5px;
      }
    }
  
    .video-container {
      position: relative;
      padding-top: 56.25%; /* 16:9 aspect ratio (height / width) */
    }
  
    video,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  